
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(9, 9, 121, 1) 0%, rgba(0, 212, 255, 1) 100%);
    color: white;
    font-family: 'Montserrat', sans-serif;
    background-repeat: no-repeat;
    background-size: cover;
}

.user {
    display: inline-block;
    margin-left: 50rem;
}

.logout {
    width: 5rem;
    height: 2rem;
    padding: 0;
    display: inline-block;
    margin-left: 5rem;
}

.head {
    display: inline-block;
}
.topbar{
    margin-bottom: 3rem;
    display: flex;
    padding: 1rem;
}

.head2{
    margin-left: auto;
}

button {
    background-color: #4D77FF;
    color: white;
    padding: 14px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    transition: 0.5s;

}

button:hover {
    background-color: #0E3EDA;

}

.post1 {
    background: rgba(4, 4, 4, .7);
    width: 30%;
    display: inline-block;
    margin-top: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
}

.post1 input[type=submit]{
    width: 40%;
}

.post2 {
    background: rgba(4, 4, 4, .7);
    width: 30%;
    display: inline-block;
    position: absolute;
    right: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    transition: 0.5s;
    text-align: center;
    
}

.shows {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.shows2 {
    width: 40%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    /* background-color: #4D77FF; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
    margin-bottom: auto;
    height: fit-content;
    overflow-y: auto;
    border-radius: 10px;
    padding: 2rem;
}

.closeshow {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

input[type=text],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}


input[type=password],
select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
  
  }
  
  .ter{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    padding: 2rem;
    margin-top: 5rem;
}
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

.passeg h2, .passeg p,.passeg button{
    display: inline-block;
    margin-left: 2rem;
}

hr {
    border-top: 1px solid white;
    border-left: none;
    border-right: none;
    border-bottom: none;
  }
.add{
    margin-bottom: 2rem;
}

.post1:hover {
    box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

.post2:hover {
    box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  .pass21 {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: none;
}

.pass22 {
    width: 40%;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

    /* background-color: #4D77FF; */
    margin-left: auto;
    margin-right: auto;
    margin-top: 13rem;
    margin-bottom: auto;
    height: fit-content;
    overflow-y: auto;
    border-radius: 10px;
    padding: 2rem;
}

.closepass {
    position: absolute;
    left: 2rem;
    top: 2rem;
}

.search{
    background: rgba(4, 4, 4, .7);
    width: 25%;
    display: inline-block;
    position: absolute;
    top : 15rem;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 2rem;
    border-radius: 1rem;
    transition: 0.5s;
}

.post2 input[type=submit]{
    width: 20%;
}

.post2 input[type=text]{
    width: 40%;
}

.search:hover {
    box-shadow: 0 8px 16px 10px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .shows{
    z-index: 10000;
  }

.shows i{
   margin-left: 2rem;
   margin-right: 2rem; 
   transition: 0.5s;
}

.shows i:hover{
    color: white;
}