<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/jquery.terminal/css/jquery.terminal.min.css" />
    <script src="https://kit.fontawesome.com/59c7633974.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/dash.css')}}">
    <title>Document</title>
</head>

<body>

    <div class="shows">
        <button class="closeshow">BACK</button>
        <div class="shows2">
            <a href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook fa-5x"></i></a>
            <a href="https://twitter.com/i/flow/login" target="_blank"><i class="fa-brands fa-twitter fa-5x"></i></a>
            <a href="https://www.reddit.com/" target="_blank"><i class="fa-brands fa-reddit fa-5x"></i></a>
            <a href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram fa-5x"></i></a>
        </div>
    </div>

    <div class="topbar">
        <h1 class="head">ToDO-Tab</h1>
        <div class="head2">
            <p class="user">Welcome {{data[0][1]}}</p>
            <button class="logout">LOGOUT</button>
        </div>


    </div>

    <div class="post1 sd9x7" style="overflow-y:auto; height:15rem;">
        <h1 id="t1">Timetable</h1>
        <form id = "form" class = "t4">
            <label for="file" class="form-label">Upload your timetable</label>
            <br>
            <input type="file" class = "form-control" name="file" id="file">
            <input type="submit" value="Submit pdf" class="sumi">
            <p id="res1"></p>
        </form>
        
        {% for i in tt %}
        <div class="timeseg">
            <hr>
            <h2> {{i[0] }}- {{i[1]}}</h2>
            
        </div>
        {% endfor %}
    </div>
    <div class="search sd9x7">
        <form action="" class="searchi" method="post">

            <label for="search">Search</label>
            <input type="text" name="search" id="search">
            <input type="submit" value="SUBMIT">

        </form>
    </div>
    <div class="post2 sd9x7" style="overflow-y:auto; height:15rem;">
        <h1 id="t2">Todos</h1>
        <form class="addtodo t3" method="post">
            <input type="text" name="todoa" id="todoa">
            <input type="submit" value="ADD">
        </form>
        
        {% for i in posts %}
        <div class="passeg {{i[0]}}">
            <hr>
            <p> {{i[1]}}</p>
            <button class="delpl {{i[0]}}">Delete</button>
        </div>
        {% endfor %}
    </div>



    <div class="ter" style="overflow-y:auto; height:10rem;">
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://unpkg.com/jquery.terminal/js/jquery.terminal.min.js"></script>
    <script src="{{url_for('static',filename = 'js/dash.js')}}"></script>
</body>

</html>