<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,500&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename = 'css/styles.css')}}">
    <title>Document</title>
</head>
<body>
    <h1 class="title">CredStore</h1>
    <div class="main">
        <div class="login">
            <form method="post" class="nlog">
                <label for="name">Username </label>
                <input type="text" name="name" id="name">
                <br>
                <label for="pass">Password </label>
                <input type="password" name="pass" id="pass">
                <br>
                <input type="submit" value="LOGIN">
            </form>
            <p class="rinfo"></p>
        </div>
        <div class="logi">
            <a href="/reg"><button>Sign UP</button></a>
        </div>
        <p>{{info}}</p>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="{{url_for('static',filename = 'js/log.js')}}"></script>
</body>
</html>